.cart {
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
}

.h1-header-cart {
  padding: 20px;
  font-size: 2vw;
  font-weight: 700;
}

.cart-container {
  display: flex;
  justify-content: space-between;
}

.left-cart-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 30px;
  width: 70%;
  background-color: whitesmoke;
}

.right-cart-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 150px;
  padding: 30px;
  background-color: whitesmoke;
}

#close-cart {
  display: flex;
  align-items: center;
  padding: 3px;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgb(255, 183, 0);
}

#close-cart:hover {
  background-color: rgba(240, 100, 0, 0.592);
}

.product-cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-product {
  display: flex;
  font-weight: 800;
  width: 100%;
  max-height: 200px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f9f9f9;
}

.cart-product img {
  width: 150px;
  height: 160px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 2px;
}

.cart-product .product-cart-right {
  display: flex;
  min-width: 200px;
  max-width: 200px;
  flex-direction: column;
}

.cart-product h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.cart-product p {
  margin: 5px 0;
  font-size: 16px;
}

.remove-product-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  padding: 3px 2px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.remove-product-button:hover {
  background-color: #f71313c1;
}

.delete-icon {
  cursor: pointer;
  color: #ff0000;
  font-size: 20px;
  margin-top: 10px;
  transition: color 0.2s ease-in-out;
}

.delete-icon:hover {
  color: #ff4500;
}

#quantity-controlsss {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#quantity-controlsss button {
  padding: 10px;
}

#quantity-controlsss button:hover {
  padding: 10px;
  background-color: #f0f0f0;
}
