.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formsLogin {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formsLogin_campo {
  margin-bottom: 15px;
}

.formsLogin_campo label {
  display: block;
  margin-bottom: 5px;
}

.formsLogin_campo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.formsLogin_campo input[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.formsLogin_campo input[type="submit"]:hover {
  background-color: #000;
}

.esqueceuSenha {
  margin-top: 15px;
  text-align: center;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon input {
  padding-left: 40px;
}

.inputWithIcon svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
