@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

input[type="submit"] {
  cursor: pointer;
}

.container-register {
  display: flex;
  height: 100vh;
  background-color: #f5f5f536;
}

.container-register-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-register {
  background-color: #f5f5f536;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 30px;
  border-radius: 9px;
  flex-direction: column;
}

.textfield-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.inputs-register {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  width: 48%;
}

.submit-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

#senha,
#email,
#confSenha,
#nome,
#sobrenome,
#cpf {
  padding: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
  width: calc(100% - 22px);
}

.aside-register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.form-register h1 {
  font-size: 6vh;
  font-weight: 800;
}

.submit-register input {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 30%;
  transition: 0.3s ease;
}

.submit-register input:hover {
  background-color: rgba(0, 0, 0, 0.311);
  color: black;
}

.status-error {
  color: red;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 5px 0;
  padding: 7px;
  border-radius: 3px;
  background-color: rgba(165, 42, 42, 0.115);
  font-size: 15px;
}

.status-success {
  color: greenyellow;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin: 5px 0 5px 0;
  padding: 7px;
  border-radius: 3px;
  background-color: lightgreen;
  font-size: 30px;
}

@media (max-width: 900px) {
  .form-register {
    flex-direction: column;
    width: 100%;
    margin: 15px 0 20px 0;
    box-shadow: none;
  }

  .container-register {
    height: auto;
  }
  .textfield-register {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .submit-register input {
    width: 100%;
  }

  #senha,
  #email,
  #confSenha,
  #nome,
  #sobrenome,
  #cpf {
    width: 100%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
