@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(33, 32, 32, 0.805);
}

::-webkit-scrollbar-thumb:hover {
  background: #555555ba;
}
